body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    .content {
    font-family: Palatino, serif;
    font-size: 1.8em;
    line-height: 1.1;
    }
    .content img {
        max-width: 100%;
    }
    //  h1 {
    //   color: black;
    //  }
}
