/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  /* font-size: 137.5%; */
  -webkit-font-smoothing: antialiased;
  color: #15141a;
}

body {
  background-color: #f9f9fb;
  color: #15141a;
  // Can't currently get Palatino looking good
  // font-family: Palatino, serif;
  // font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
  
  .content {
    color: #15141a;
  }
  
  .content .transclusion {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  /* Copy & Lists */
  p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: #15141a;
  }
  a:link, a:visited, a:active, a:hover {
    color:#2367B6;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    padding-bottom: 0px;
  }
  ul,
  ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  ul li,
  ol li {
    line-height: 1.5rem;
  }
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    color: #15141a;
  }
  h1 {
    font-size: 3.242rem;
    line-height: 3.5rem;
    margin-top: 3rem;
  }
  h2 {
    font-size: 2.428rem;
    line-height: 2.4rem;
    margin-top: 3rem;
  }
  h3 {
    font-size: 1.414rem;
  }
  h4 {
    font-size: 0.707rem;
  }
  h5 {
    font-size: 0.4713333333333333rem;
  }
  h6 {
    font-size: 0.3535rem;
  }
  /* Tables */
  table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  table td,
  table th {
    padding: 0;
    line-height: 33px;
  }
  /* Code blocks */
  code {
    vertical-align: bottom;
  }
  /* Leading paragraph text */
  .lead {
    font-size: 1.414rem;
  }
  /* Hug the block above you */
  .hug {
    margin-top: 0;
  }

  hr {
    height:0px; border-top:1px solid #dddddd; width:60%; text-align:center; margin: 70px auto 80px auto;
  }

  img {
      max-width: 100%;
  }
}


@media only screen and (max-width: 30em) {
  body .markdown-preview-view {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .content {
    font-size: 1em;
    font-weight:300;
  }
  .content p {
    line-height: 1.1;
  }
  
  .content h1, h2, h3, h4, h5, h6 {
    line-height:1;
  }
  
  .content h1 {
    font-size: 1.6em;
  }
  
  .content h2 {
    font-size: 1.4em;
  }
  
  .content h3, h4 {
    font-size: 1.3em;
  }
  
  .content h5, h6 {
    font-size: 1.2em;
  }
  
  .content li {
    line-height: 1.1;
    margin-bottom: 8px;
  }
  
  .content ul, ol {
    margin-bottom: 18px;
  }
}
